<article class="posts__post" data-fx-fade>
  <header class="posts__post__header">
    <h2 itemprop="title">
      <a href="{{baseUrl}}/blog/{{slug}}/">
        {{{title}}}
      </a>
    </h2>
    <time class="posts__date">{{date}}</time>
  </header>

  {{{abstract}}}

  <div class="posts__post__readmore clearfix">
    <a href="{{baseUrl}}/blog/{{slug}}/" class="button">
      Read more
    </a>
  </div>
</article>
