<nav class="navigation js-navigation" id="menu" role="navigation">
  <a href="#content" class="visuallyhidden">Skip to Content</a>

  <ul id="navigation" class="navigation__menu">
    <li class="{{#ifEqual currentUrl "/"}}is-active{{/ifEqual}}">
      <a href="{{baseUrl}}/" title="drublic - Front-End Architecture">Home</a>
    </li>
    <li class="{{#ifEqual currentUrl "/resume"}}is-active{{/ifEqual}}">
      <a href="{{baseUrl}}/resume/" title="Read more about me">About</a>
    </li>
    <li class="{{#ifEqual currentUrl "/podcasting"}}is-active{{/ifEqual}}">
      <a href="{{baseUrl}}/podcasting/" title="Working Draft Podcast, latest equipment">Podcasting</a>
    </li>

    <li class="
      {{#ifEqual currentUrl "/blog"}}is-active{{/ifEqual}}
      {{#ifEqual currentUrl "/blog/:id"}}is-active{{/ifEqual}}
    ">
      <a href="{{baseUrl}}/blog/" title="Get some cutting edge goodness">Blog</a>
    </li>
    <li class="{{#ifEqual currentUrl "/portfolio"}}is-active{{/ifEqual}} navigation__menu__hidden-mobile">
      <a href="{{baseUrl}}/portfolio/" title="View some of the work I do">Portfolio</a>
    </li>
    <li class="navigation__menu__hidden-mobile">
      <a href="{{baseUrl}}/#hire-me" title="I do client work and propably would love to work with you">Hire me</a>
    </li>
  </ul>
</nav>
