<article class="post">
	<header class="post-header">
		<h1><a href="http://drublic.de/blog/<%= post.permalink %>/" title="Permalink to <%= post.title %>" rel="entry-title"><%= post.title %></a></h1>
		<time datetime="<%= post.date %>" rel="updated"><%= post.date %></time>

		<span class="author">
			by
			<a href="<%= post.authorUrl %>" title="Visit website" rel="author">Hans Christian</a>
		</span>

		<span class="categories"><%= post.categories.join(', ') %></span>
		<span class="tags"><%= post.tags.join(', ') %></span>
	</header>

	<%- post.content %>

	<div class="share-post">
		<script type="text/x-handlebars-template" id="share-post">
			<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://drublic.de/blog/<%= post.permalink %>/" data-text="<%= post.title %>" data-count="horizontal" data-via="drublic" data-related="drublic">Tweet</a>

			<g:plusone size="medium"></g:plusone>
		</script>
	</div>
</article>
