<main id="content" class="main" role="main">
  <section class="claim">
    <div class="container">
      <div class="claim__desc">
        <p>Dealing with complex distributed mirco-service based architectures is
          my daily business and I love it. Find out
          <a href="{{baseUrl}}/resume/">more about me</a>
          and <a href="{{baseUrl}}/portfolio/">my work</a>.
        </p>
        <p>Currently I work for <a href="https://www.prosiebensat1.com/">ProSiebenSat.1</a> on <a
            href="https://www.fyeo.de/">FYEO</a>.</p>
      </div>

      <p>
        {{!-- <a href="#hire-me" class="button button--primary button--margin-right"
          title="I am a Software Architect, hire me!" data-ga-category="Contact" data-ga-action="Hire"
          data-ga-label="Hire me">Hire me</a> --}}

        <a href="{{baseUrl}}/resume/" class="button" title="My skills, my background" data-ga-category="Resume"
          data-ga-action="Resume" data-ga-label="Resume" style="margin-top: 1rem;">More about me</a>
      </p>
    </div>
  </section>

  {{> index-articles}}

  <!-- Projects -->
  <section class="container work" id="work">
    <h2>I have worked for…</h2>

    <div class="work__for">
      {{> clients}}

      <p class="work__more">
        <a href="{{baseUrl}}/portfolio/" class="button" title="View some of the work I do">My Portfolio</a>
      </p>
    </div>


  </section>

  <section class="container" style="text-align: center;">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
      data-theme="light" data-vanity="hreinl"><a class="LI-simple-link"
        href='https://de.linkedin.com/in/hreinl?trk=profile-badge'>Hans Christian Reinl</a></div>
  </section>

  <!-- Hire Me -->
  {{!-- <section class="container hire-me" id="hire-me">
    <h2>Hire Me</h2>

    <p>I do work for businesses, agencies and other clients that value great front-end work.</p>
    <p>Work that I like to do includes consulting and educational work (workshops et cetera) as well as projects that
      have a focus on JavaScript application development or a deep need of scalability and consistency throughout a
      website. <a href="{{baseUrl}}/portfolio/">Review the projects I am involved in</a> to get an overview of my
      skills.</p>
    <p>If you would like me to deliver a talk on your conference <a href="{{baseUrl}}/portfolio/">please see my
        projects</a> and decide whether I am a good choice for yourself.</p>

    <p>Contact me via e-mail if you think I am a fit for your project:
      <a href="mailto:info@drublic.de" title="I am a Software Architect, hire me!" data-ga-category="Contact"
        data-ga-action="Hire" data-ga-label="Contact me">info@drublic.de</a>.
    </p>
  </section> --}}
</main>
