{{> blog-message}}

<main id="content" class="main container" role="main">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post__header">
      <h1 itemprop="name" itemprop="headline">
        <a
          href="{{baseUrl}}/blog/{{post.url}}/"
          title="Permalink to {{post.title}}"
          itemprop="url"
          rel="entry-title"
        >
          {{post.title}}
        </a>
      </h1>

      <time class="post__header__date" rel="updated">
        {{post.date}}
      </time>
      <meta itemprop="datePublished" content="{{post.date}}">
      <meta itemprop="description" content="{{post.abstract}}">
    </header>

    <div itemprop="articleBody">
      {{{post.entry}}}
    </div>

    <footer class="post__footer">
      <p>Post by <span itemprop="author">Hans Christian Reinl</span>.</p>
    </footer>
  </article>

  <div class="post__crosslinks">
    <h3>Latest publications</h3>

    <ul class="posts__list posts__list--bound posts__list--no-divider">
      {{#each (slice posts 0 5)}}
        {{> article-teaser--small
          title=this.title
          slug=this.slug
          date=this.date
        }}
      {{/each}}
    </ul>
  </div>

  <ul class="post__navigation">
    <li>
      <a href="{{baseUrl}}/blog/" title="Back to blog overview">
        <svg fill="#333333" height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z"/>
        </svg>
      </a>
    </li>
  </ul>
</main>

<script async src="//platform.twitter.com/widgets.js"></script>
