<main id="content" class="main container" role="main">

  <h1>What I want to do</h1>
  <p>I am currently searching a freelance role as a developer and architect
    in an agile environment.<br>
    My preferred role would be to help you and your team <b>migrate a monolithic
    platform to a future-proof micro-service oriented environment</b>. I got a
    track record in doing projects like this.<br>
    I am strong in Frontend technologies, especially <b>React</b> and worked a
    lot with <b>Node.js</b>.<br>
    I am available as of mid of July 2018.<br>
    Preferably in the Cologne, Düsseldorf area.<br>
    Contact me via <a href="mailto:info@drublic.de">info@drublic.de</a> or
    via the <a href="{{baseUrl}}/#contact">contact form</a> if you
    are interested.</p>

  <p>
    <a href="{{baseUrl}}/#contact" class="button button--primary">Contact me</a>
  </p>

  <figure class="image image--block">
    <img src="{{baseUrl}}/img/monolith-to-microservice.png"
      alt="What you have vs. what you want"
    >
  </figure>

  <h2>About me</h2>

  <p>I am a frontend architect and software engineer located in Cologne, Germany.<br>
  Agile development and Scrum influence my daily work since 2012. I have ten years
  of experience in developing scalable web applications using cutting edge technologies
  based on Micro-Service Oriented Architecture including HTML/CSS and object-oriented
  JavaScript (frontend and backend), React is my Framework of choice.
  Within the last couple of years I worked a lot with Node.js.</p>

  <p>I love architecting systems in a high-performance environment with a focus
    on frontend development. My passion in JavaScript and CSS is as strong as my
    belief in agile methodologies.
  </p>

  <p>
    <a href="{{baseUrl}}/resume/" class="button">My Résumé</a>
    <a href="{{baseUrl}}/portfolio/" class="button">My Projects</a>
  </p>

</main>
